name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # --- CONFIGURAÇÃO VISUAL ---
          user: DanMO23
          template: classic
          config_timezone: America/Sao_Paulo
          theme: dracula
          
          # --- LIMPEZA DO HEADER E BASE ---
          # 'header' mantém seu Nome e Avatar.
          # Removi 'repositories' para sumir com o bloco de "No license, Packages, MB used".
          base: header
          
          # --- PLUGIN: LINHAS DE CÓDIGO ---
          plugin_lines: yes
          
          # --- PLUGIN: LINGUAGENS (JS EM 1º) ---
          plugin_languages: yes
          # Mostra apenas a barra de progresso (most-used)
          plugin_languages_sections: most-used
          # Remove o subtítulo de estimativa complexa
          plugin_languages_indepth: no
          # Mostra apenas a porcentagem (limpo)
          plugin_languages_details: percentage
          # Limite de linguagens
          plugin_languages_limit: 8
          
          # O TRUQUE DO JS:
          # Ignoramos 'jupyter notebook' (que é pesado) e 'smartle' (artefatos).
          # Isso fará o JavaScript subir para o topo naturalmente.
          plugin_languages_ignored: >-
            jupyter notebook, css, scss, assembly, html, dockerfile, makefile, shell
            
          # Nome do arquivo final
          filename: github-metrics.svg
